@font-face {
    font-family: 'GMarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}

html body {
    font-family: 'GMarketSansMedium';
}

/* pc css */
.pc-top-bar {

}

.pc-top-bar .top-bar__wrap-1 {
}

.top-bar__wrap-1_left {
    /* border: 1px dashed red; */
}

.top-bar__wrap-1_center {
    /* border: 1px dashed red; */
}

.top-bar__wrap-1_center > a {
    
}
.top-bar__wrap-1_center > a > img {
    
}

.top-bar__wrap-1_right {
    /* border: 1px dashed red; */
}

.top-bar__wrap-1_right .wrap-1_right_bottom {

}
.top-bar__wrap-1_right .wrap-1_right_bottom a {
    font-size: 14px;
    padding: 4px 20px;
    border-radius: 30px;
    color: white;
    transition: color .5s;
}
.top-bar__wrap-1_right .wrap-1_right_bottom a:first-child {
    background-color: #ff7e6b;
    border: 1px solid #ff7e6b;
}
.top-bar__wrap-1_right .wrap-1_right_bottom a:first-child:hover {
   background-color: #fff;
   color: #ff7e6b;
}

.top-bar__wrap-1_right .wrap-1_right_bottom a:last-child {
    background-color: #1ecad3;
    border: 1px solid #1ecad3;
}

.top-bar__wrap-1_right .wrap-1_right_bottom a:last-child:hover {
    background-color: #10adb5;
}

.login-widget {

}
.login-widget > ul > li > a {
    font-size: 12px;
    padding: 0 10px;
    color: #888;
    transition: color .3s;
}

.pc-top-bar .top-bar__wrap-2 {

}

.menu-box-1 {

}
.menu-box-1 .top-bar-menu-1 {

}

.menu-box-1 .top-bar-menu-1 > ul > li > a {
    padding: 0 40px;
    height: 100%;
    display: flex;
    align-items: center;
    color: #55585b;
}

.pc-section-video {

}

.pc-section-banner {

}

.pc-section-banner .section-banner {
    min-height: 275;
}

.section-banner-1 {
    background-image: url('../images/섹션배너1.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.section-banner-2 {
    background-image: url('../images/섹션배너2.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.section-banner-3 {
    background-image: url('../images/섹션배너3.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.section-banner-4 {
    background-image: url('../images/섹션배너4.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.section-banner-4__text-box > span {
    margin-top: 5px;
}

.section-banner-5 {
   min-height: 275px;	
}

.section-banner-5__main-text {
	text-align: center;
	color: #1ecad3;
}

.section-banner-5__main-text > p {
    font-size: 20px;
}

.bottom-banner img {
    display: block;
    width: 140px;
}


/* 모바일 css */
.moblie-top-bar {

}

.moblie-top-bar .moblie-top-bar__logo {

}

.mobile-top-bar__burger-menu > span > i {
    color: #1ecad3;
    font-size: 20px
}

.mobile-section-banner .section-banner
{

}

.mobile-section-banner .section-banner-1
{
    background-image: url(../images/모바일섹션배너1.png);
}

.mobile-section-banner .section-banner-2
{
    background-image: url(../images/모바일섹션배너2.png);
}

.mobile-section-banner .section-banner-3
{
    background-image: url(../images/모바일섹션배너3.png);
}

.mobile-section-banner .section-banner-4
{
    background-image: url(../images/모바일섹션배너4.png);
}

.mobile-section-banner .section-banner-5
{
    min-height: 275px;
}

/* 태블릿 css */

/* 데스크톱, 모바일, 태블릿 구분 */
/* 화면 너비가 992 이상일 때 (데스크톱) */
@media (min-width : 992px) {
    .moblie-top-bar {display: none;}
    .mobile-section-banner {display: none;}
    .mobile-section-video_banner {display: none;}
}

/* 화면 너비가 991이하일 때 (모바일) */
@media (max-width: 991px)
{
    .pc-top-bar {display: none;}
    .pc-section-banner {display: none;}
    .pc-section-video {display: none;}
}

/* 화면 너비가 766 ~ 991 사이일 경우 (태블릿) */
@media ( max-width: 991px) and ( min-width: 766px) {	
	body{
        display:flex;
        flex-direction:column;
    }

    .pc-top-bar{
        display:none;
    }

    .mobile-section-video_banner,
    .mobile-section-banner{
        display:none;
    }

    .moblie-top-bar{
        display:block;
        order:1;
    }

    .pc-section-video{
        display:block;
        order:2;
    }

    .pc-section-banner{
        display:block;
        order:3;
    }

}